<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Включение навигационного меню -->
    {% include 'navbar.html' %}

    <!-- Контент страницы -->
    <div class="container">
        <h1 class="text-center mt-4">My notes</h1>
        <form action="/note" method="post" class="my-4">
            <div class="form-group">
                <input type="text" class="form-control" name="title" placeholder="Title" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="content" placeholder="Content" required></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Create note">
        </form>
        {% for note in notes %}
            <div class="card my-2">
                <div class="card-body">
                    <h2 class="card-title">{{ note.title }}</h2>
                    <p class="card-text">{{ note.content }}</p>
                    <a href="/note/{{ note.id }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'footer.html' %}

    <!-- Подключение Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
